.image {
    background-repeat: no-repeat;
}

/* -------------------------------------------------------------------------- */
/* Icones do menu da ferramenta                                               */
/* -------------------------------------------------------------------------- */

#tool-menu .image {
    background-color: #0F0;
}

/* -------------------------------------------------------------------------- */
/* Imagens da ferramenta                                                      */
/* -------------------------------------------------------------------------- */

#tool-content .image {
    background-color: #F00;
}