# ------------------------------------------------------------------------------
# SISTEMA
# ------------------------------------------------------------------------------

.DS_Store

# ------------------------------------------------------------------------------
# NODE E NPM
# ------------------------------------------------------------------------------

node_modules

# ------------------------------------------------------------------------------
# EDITORES
# ------------------------------------------------------------------------------

.nide
*~
.project
.c9revisions
nbproject

# ------------------------------------------------------------------------------
# PADROES
# ------------------------------------------------------------------------------

config.js
config.sh
*.log
.*

node_modules
Icon?
*.bkp

# ------------------------------------------------------------------------------
# EXCESSOES
# ------------------------------------------------------------------------------

!/.gitignore
/nbproject/private/
