.DS_Store
.nide

scripts/deploy/config.sh

Apps/package.json
Apps/config.js
Apps/node_modules/*

Auth/package.json
Auth/config.js
Auth/node_modules/*

Location/package.json
Location/config.js
Location/node_modules/*
