# ------------------------------------------------------------------------------
# SISTEMA
# ------------------------------------------------------------------------------

.DS_Store

# ------------------------------------------------------------------------------
# NODE E NPM
# ------------------------------------------------------------------------------

node_modules

# ------------------------------------------------------------------------------
# EDITORES
# ------------------------------------------------------------------------------

.nide
*~
.project

# ------------------------------------------------------------------------------
# PADROES
# ------------------------------------------------------------------------------

config.js
config.sh
*.log

node_modules
Icon?
*.bkp
